.spinner {
    position: fixed;
    left: 47%;
    top: 30%;
    height:80px;
    width:80px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid rgba(0,174,239,.8);
    border-radius:100%;
}
#overlay{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    opacity: .5;
    z-index:9999;
    display: none;
}
.image-area {
    position: relative;
    float: left;
    margin-right: 30px;
}
.image-area img{
    max-width: 100%;
    height: 50px;
}
.remove-image {
    display: none;
    position: absolute;
    top: -11px;
    right: -6px;
    border-radius: 10em;
    padding: 0px 3px 0px;
    text-decoration: none;
    font: 700 18px/17px sans-serif;
    background: #555;
    border: 3px solid #fff;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
.image-area:nth-child(5)
{
    margin-right: 0!important;
}
.remove-image:hover {
    background: #c70e0e;
    padding: 1px 4px 1px;
    top: -13px;
    right: -6px;
    color: #fff;
}
.remove-image:active {
    background: #E54E4E;
    top: -13px;
    right: -6px;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.ekko-lightbox .modal-content
{
    border-radius: 4px!important;
}

.ekko-lightbox .modal-body
{
    padding: 20px!important;
}
#rules .modal-content .close
{
    position: static!important;
    right: 0!important;
    left: 0!important;
    outline: none;
}
#rules .modal-body
{
    padding: 20px;
}
#rules .modal-content
{
    border-radius: .3rem;
}
@media (min-width: 1200px){
    #rules  .modal-xl {
        max-width: 1140px!important;
    }
}


