$headerColor: #297fb8;
$fontFamilyText: ". SF Compact Text";
$fontFamilyRegular: ". SF Compact Text - Regular";
$fontFamilyRegularTwo: ".. SF Compact Text - Regular";

$fontFamilyRounded: ". SF Compact Rounded";


// $fontColor:c cv